.box{
    height: 800px;
    width: 800px;
    /* border: 4px solid red; */
    position: relative;
    background-image: url("./images/bc2.jfif");
    background-size: cover;
    margin: auto;
}
.box .box1{
    height: 90px;
    width: 130px;
    border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("./images/download.jfif");
    background-size: cover;
}
.box .box2{
    height: 130px;
    width: 90px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 330px;
    top: 214px;
    background-image: url("./images/2.jfif");
    background-size: cover;
   
}
.box .box3{
    height: 130px;
    width: 90px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 234px;
    top: 285px;
    background-image: url("./images/3.jfif");
    background-size: cover;
   
}
.box .box4{
    height: 90px;
    width: 130px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 235px;
    top: 449px;
    background-image: url("./images/4.jfif");
    background-size: cover;
   
}
.box .box5{
    height: 90px;
    width: 130px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 469px;
    top: 324px;
    background-image: url("./images/5.jfif");
    background-size: cover;

  
}
.box .box6{
    height: 130px;
    width: 90px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 469px;
    top: 423px;
    background-image: url("./images/6.jfif");
    background-size: cover;
}
.box .box7{
    height: 90px;
    width: 130px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    left: 428px;
    top: 226px;
    background-image: url("./images/7.jfif");
    background-size: cover;

}
.box .box8{
    height: 130px;
    width: 90px;
     border: 4px solid rgb(224, 223, 151); 
    position: absolute;
    top: 460px;
    left: 372px;
    background-image: url("./images/8.jfif");
    background-size: cover;
}